@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9ed92;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}
.container{
    background-color: #ffff;
    min-height: 45vh;
    width: 45vh;
    padding: 2rem;
    border: 1px solid lightgray;
    border-radius: 2rem;
}
form{
    padding: 2rem 0 1rem 0;
}
form select,input,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    height: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
    max-height: 2rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}
.select-container select{
    font-size: 1rem;
    padding-left: 0.3rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.msg{
    margin: 2rem 0 2rem 0;
}
button{
    height: 3rem;
    background-color: #00afb9;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}